# URL da aplicação do SuiteOps
PUBLIC_APP_URL=https://app.suiteops.com.br

# URL pública do site
PUBLIC_SITE_URL=https://www.suiteops.com.br

# Contato e conversão
PUBLIC_WHATSAPP_URL=https://wa.me/5511999999999?text=Ol%C3%A1%2C%20gostaria%20de%20conhecer%20o%20SuiteOps
PUBLIC_CONTACT_EMAIL=contato@suiteops.com.br
